{% extends "network/layout.html" %}

{% block title %}
    {{profileUser}}
{% endblock %}

{% block script %}
    <script type="text/javascript">
        // follow-unfollow
        const follow = () => {
            // check if user is authenticated
            "{% if not user.is_authenticated %}"
                location.href = "/login";
            "{% endif %}"

            // make post request
            fetch(`/follow/${"{{profileUser}}"}`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value
                }
            })
            .then(response => response.json())
            .then(result => {
                // update follower count
                const followerDiv = document.querySelector(".follower-div");
                followerDiv.innerHTML = `
                    <strong>${result.followers}</strong>
                `;
                followerDiv.innerHTML += result.followers == 1 ? " Follower" : " Followers";
            })
            .then(() => {
                // update btn visibility
                const followBtnDiv = document.querySelector("#follow-btn-div");
                const unfollowBtnDiv = document.querySelector("#unfollow-btn-div");
                const followBtn = followBtnDiv.querySelector("#follow-btn");
                const unfollowBtn = unfollowBtnDiv.querySelector("#unfollow-btn");

                followBtn.style.animationName = "btn-hide";
                followBtn.style.animationPlayState = "running";

                setTimeout(() => {
                    followBtnDiv.style.display = "none";
                    unfollowBtnDiv.style.display = "block";    
                    unfollowBtn.style.animationName = "btn-appear";
                    unfollowBtn.style.animationPlayState = "running";
                }, 1000);
            })
            .catch(error => {
                console.log(error);
            });
            
        };

        const unfollow = () => {
            // make post request
            fetch(`/unfollow/${"{{profileUser}}"}`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value
                }
            })
            .then(response => response.json())
            .then(result => {
                // update follower count
                const followerDiv = document.querySelector(".follower-div");
                followerDiv.innerHTML = `
                    <strong>${result.followers}</strong>
                `;
                followerDiv.innerHTML += result.followers == 1 ? " Follower" : " Followers";
            })
            .then(() => {
                // update btn visibility
                const followBtnDiv = document.querySelector("#follow-btn-div");
                const unfollowBtnDiv = document.querySelector("#unfollow-btn-div");
                const followBtn = followBtnDiv.querySelector("#follow-btn");
                const unfollowBtn = unfollowBtnDiv.querySelector("#unfollow-btn");

                unfollowBtn.style.animationName = "btn-hide";
                unfollowBtn.style.animationPlayState = "running";

                setTimeout(() => {
                    unfollowBtnDiv.style.display = "none";
                    followBtnDiv.style.display = "block";    
                    followBtn.style.animationName = "btn-appear";
                    followBtn.style.animationPlayState = "running";
                }, 1000);
            })
            .catch(error => {
                console.log(error);
            });
        };

        document.addEventListener("DOMContentLoaded", () => {
    
        });
    </script>
    <script type="text/babel">
        // add user info
        const userContainer = document.querySelector("#user-container");
        ReactDOM.render(
            <Profile 
                username="{{profileUser}}"
                followers="{{profileUser.followers.all|length}}"
                following="{{profileUser.following.all|length}}"
                follow="{{follow}}"
            />, 
            userContainer
        );

        // add follow & unfollow btn
        userContainer.innerHTML +=`
            {% csrf_token %}
            <div id="follow-btn-div">
                <button id="follow-btn" class="btn btn-primary mt-3" onclick="follow()">
                    Follow
                </button>
            </div>
            <div id="unfollow-btn-div">
                <button id="unfollow-btn" class="btn btn-primary mt-3" onclick="unfollow()">
                    Unfollow
                </button>
            </div>
        `;

        const followBtnDiv = document.querySelector("#follow-btn-div");
        const unfollowBtnDiv = document.querySelector("#unfollow-btn-div");
        
        // add follow-unfollow btn
        "{% if follow is True %}"
            followBtnDiv.style.display = "block";
            unfollowBtnDiv.style.display = "none";
        "{% elif follow is False %}"
            followBtnDiv.style.display = "none";
            unfollowBtnDiv.style.display = "block";
        "{% else %}"
            followBtnDiv.style.display = "none";
            unfollowBtnDiv.style.display = "none";
        "{% endif %}"

        userContainer.innerHTML += "<hr>"

        // load posts
        // load posts      
        JSON.parse("{{ posts|escapejs }}").forEach(post => {
            render(post, JSON.parse("{{ liked_posts|escapejs }}"));
        });
        
        // add navigation
        const pageNavDiv = document.createElement("div");
        pageNavDiv.id = "page-nav-div";
        document.querySelector("#posts-container").append(pageNavDiv);
        ReactDOM.render(
            <Paginator page={JSON.parse("{{ page|escapejs }}")} />, 
            pageNavDiv
        );
    </script>
{% endblock %}

{% block css %}
    <style>
        @keyframes appear {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        .post-container {
            margin-left: 2%;
            margin-right: 2%;
            margin-top: 1%;
            margin-bottom: 1%;
            border: 0.1px solid lightgrey;
            padding: 30px;
            animation-name: appear;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            animation-play-state: running;
        }

        .post-header {
            font-weight: bolder;
            cursor: pointer;
            display: inline;
        }

        .edit-link {
            text-decoration: none;
        }

        .edit-link:hover {
            text-decoration: none;
        }

        .post-content {
            font-weight: bold;
            font-size: 18px;
        }

        .post-timestamp {
            font-size: 18px;
        }

        .post-like {
            font-size: 20px;
        }

        .post-comment {
            font-weight: normal;
        }

        #user-container {
            margin: 2%;
        }

        .profile-username {
            font-size: 40px;
            font-weight: bold;
        }

        .follower-div, .following-div {
            font-size: 20px;
            font-weight: normal;
            display: inline;
        }

        @keyframes btn-hide {
            0% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        @keyframes btn-appear {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        #follow-btn {
            animation-name: btn-hide;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            animation-play-state: paused;
        }

        #unfollow-btn {
            animation-name: btn-hide;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            animation-play-state: paused;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="user-container">
    </div>
    <h1>&nbsp;Posts from {{profileUser}}</h1>
    <hr>
    <div id="posts-container">
    </div>
{% endblock %}